.Trigger {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: rem(13px);
  gap: rem(5px);
  color: var(--color-gray-6);
  outline: none;
  cursor: pointer;
}

.Icon {
  color: var(--color-gray-6);
}

.Content {
  z-index: 10;
  margin-top: rem(30px);
  background-color: white;
  border-radius: 6px;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.Viewport {
  padding: 5px;
}

.ItemIndicator {
  position: absolute;
  left: 0;
  width: rem(25px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.Item {
  font-size: rem(13px);
  color: var(--color-gray-6);
  display: flex;
  align-items: center;
  gap: rem(10px);
  height: rem(25px);
  padding: 0 rem(35px) 0 rem(25px);
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: none;
  &[data-disabled] {
    color: var(--color-gray-6);
    pointer-events: none;
  }
  //   &[data-highlighted] {
  //     outline: none;
  //     // background-color: var(--color-gray-6);
  //     // color: var(--color-white);
  //   }
  &:hover {
    background-color: #f0efef;
    color: var(--color-white);
  }
}
