.text {
  font-style: normal;

  &__12 {
    font-size: rem(12px);
    line-height: 1.5em;
    letter-spacing: rem(-0.36px);
  }
  &__14 {
    font-size: rem(14px);
    line-height: 1.5em;
    letter-spacing: rem(-0.42px);
  }
  &__16 {
    font-size: rem(16px);
    line-height: 1.5em;
    letter-spacing: rem(-0.48px);
  }
  &__18 {
    font-size: rem(18px);
    line-height: 1.5em;
    letter-spacing: rem(-0.54px);
  }
  &__20 {
    font-size: rem(20px);
    line-height: 1.5em;
    letter-spacing: rem(-0.6px);
  }
  &__22 {
    font-size: rem(22px);
    line-height: 1.5em;
    letter-spacing: rem(-0.66px);
  }
  &__48 {
    font-size: rem(48px);
    line-height: 1.2em;
    letter-spacing: -0.48px;
  }
  &__24 {
    font-size: rem(24px);
    line-height: 1.2em;
    letter-spacing: rem(-0.24px);
  }
  &__36 {
    font-size: rem(36px);
    line-height: 122.222%;
    letter-spacing: rem(-0.72px);
  }
  &__30 {
    font-size: rem(30px);
    line-height: 126.667%;
    letter-spacing: rem(-0.3px);
  }
  &__60 {
    font-size: rem(60px);
    line-height: 1.2em;
    letter-spacing: rem(-0.6px);
  }
  &__18 {
    font-size: rem(18px);
    line-height: 1.2em;
    letter-spacing: rem(-0.18px);
  }
  &__16 {
    font-size: rem(16px);
    line-height: 0.88em;
    letter-spacing: rem(-0.16px);
  }
  &__20 {
    font-size: rem(20px);
    line-height: 1.3em;
  }
  &__24 {
    font-size: rem(24px);
    line-height: 1.2em;
    letter-spacing: rem(-0.24px);
  }
  &__130 {
    font-size: rem(130px);
    line-height: 1.2em;
    letter-spacing: rem(-1.3px);
  }
}

// =============== Text color ==============
.color__white {
  color: var(--color-white);
}
.color__softPrimary {
  color: var(--color-soft-primary);
}
.color__primary {
  color: var(--color-primary);
}
.color__hardPrimary {
  color: var(--color-hard-primary);
}
.color__warning {
  color: var(--color-warning);
}
.color__danger {
  color: var(--color-danger);
}
.color__gray9 {
  color: var(--color-gray-9);
}
.color__gray8 {
  color: var(--color-gray-8);
}
.color__gray7 {
  color: var(--color-gray-7);
}
.color__gray6 {
  color: var(--color-gray-6);
}
.color__gray5 {
  color: var(--color-gray-5);
}
.color__gray4 {
  color: var(--color-gray-4);
}
.color__gray3 {
  color: var(--color-gray-3);
}
.color__gray2 {
  color: var(--color-gray-2);
}
.color__gray1 {
  color: var(--color-gray-1);
}
.color__gray0_5 {
  color: var(--color-gray-0-5);
}
.color__greenGray9 {
  color: var(--color-green-gray-9);
}
.color__greenGray8 {
  color: var(--color-green-gray-8);
}
.color__greenGray7 {
  color: var(--color-green-gray-7);
}
.color__greenGray6 {
  color: var(--color-green-gray-6);
}
.color__greenGray5 {
  color: var(--color-green-gray-5);
}
.color__greenGray4 {
  color: var(--color-green-gray-4);
}
.color__greenGray3 {
  color: var(--color-green-gray-3);
}
.color__greenGray2 {
  color: var(--color-green-gray-2);
}
.color__greenGray1 {
  color: var(--color-green-gray-1);
}
.color__greenGray0_5 {
  color: var(--color-green-gray-0-5);
}

// =============== Font family ==============
.font {
  &__poppins {
    font-family: var(--font-poppins);
  }
}

// =============== Core ==============
.weight {
  &__extrabold {
    font-weight: 800;
  }

  &__bold {
    font-weight: 700;
  }

  &__semibold {
    font-weight: 600;
  }

  &__medium {
    font-weight: 500;
  }

  &__regular {
    font-weight: 400;
  }

  &__light {
    font-weight: 300;
  }

  &__extralight {
    font-weight: 200;
  }

  &__thin {
    font-weight: 100;
  }
}

.transform {
  &__uppercase {
    text-transform: uppercase;
  }
  &__lowercase {
    text-transform: lowercase;
  }
  &__capitalize {
    text-transform: capitalize;
  }
}
