@use '@Styles/tool' as *;

.featured {
  padding: rem(60px) 0;

  &_wrapper {
    background-color: var(--color-white);
    border-radius: rem(8px);
    box-shadow: 0px 8px 40px 0px rgba(0, 38, 3, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(40px);
    gap: rem(24px);
  }
}

.featureItem {
  display: flex;
  align-items: center;
  gap: rem(16px);

  &_icon {
    width: rem(40px);
    height: rem(40px);
    flex-shrink: 0;

    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &_info {
    display: flex;
    flex-direction: column;
    gap: rem(8px);

    &_title {
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: rem(16px);
      line-height: 1.2;
      color: var(--color-gray-9);
      white-space: pre-wrap;
    }

    &_description {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: rem(14px);
      line-height: 1.5;
      color: var(--color-gray-4);
      white-space: pre-wrap;
    }
  }
}
