@use '@Styles/tool' as *;

.instagramFeed {
  padding: rem(60px) 0;

  &_title {
    text-align: center;
    margin-bottom: rem(32px);
  }

  &_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: rem(24px);
  }

  &_post {
    // width: rem(200px);
    // height: rem(200px);
    border-radius: rem(10px);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__highlighted {
      .instagramFeed_post_overlay {
        opacity: 1;
      }
    }

    &_overlay {
      position: absolute;
      inset: 0;
      background: rgba(43, 87, 46, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.3s ease;

      svg {
        width: rem(32px);
        height: rem(32px);
      }
    }

    &:hover &_overlay {
      opacity: 1;
    }
  }
}
