@use '@Styles/tool' as *;

.popularCategories {
  padding: rem(60px) 0;

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(32px);

    &_viewAll {
      display: flex;
      align-items: center;
      gap: rem(12px);
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 0.8;
      }

      svg {
        width: rem(15px);
        height: rem(13px);
        color: var(--color-primary);
      }
    }
  }

  &_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: rem(24px);
  }
}

.categoryCard {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-1);
  border-radius: rem(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: rem(16px) rem(16px) rem(24px);
  gap: rem(16px);
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    border-color: var(--color-primary);
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
  }

  &__highlighted {
    border-color: var(--color-hard-primary);
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
  }

  &_image {
    // width: rem(190px);
    height: rem(130px);
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &_name {
    text-align: center;
    white-space: pre-wrap;
    width: 100%;
  }
}
