@use '@Styles/tool' as *;

.popularProducts {
  padding: rem(60px) 0;
  background-color: var(--color-gray-0-5);

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(32px);

    &_viewAll {
      display: flex;
      align-items: center;
      gap: rem(12px);
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 0.8;
      }

      svg {
        width: rem(15px);
        height: rem(13px);
        color: var(--color-primary);
      }
    }
  }

  &_grid {
    display: grid;
    grid-template-columns: minmax(0, 40%) 1fr;
    gap: rem(24px);
  }

  &_featured {
    grid-row: span 2;

    > * {
      max-width: 100%;
    }
  }

  &_list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: rem(24px);
  }
}
