.main {
  &_left {
    display: flex;
    flex-direction: column;
    gap: rem(16px);
    &_logo {
      width: fit-content;
      height: rem(38px);
      display: inline-block;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &_description {
      max-width: rem(336px);
    }
    &_info_container {
      display: flex;
      align-items: center;
      gap: rem(16px);
    }
    &_info {
      border-bottom: 2px solid var(--border-green-color);
      padding-bottom: rem(6px);
      &_text {
        margin-top: rem(-10px);
      }
    }
  }
}
